<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register and Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<div class="button-container">
    <a href="{{ url_for('auth.sign_up') }}">
        <button class="register-btn">Register</button>
    </a>
    <a href="{{ url_for('auth.login') }}">
        <button class="login-btn">Login</button>
    </a>
    
</div>

</body>
</html>
